.dice {
  width: 115px;
  height: 120px;
  background: url(./dice.png);
  border: 0px;
  border-radius: 0px;
  margin-top: 250px;
}
.shortCuts {
  text-align: center;
  margin-bottom: 15px;
}
.oneDice {
  cursor: pointer;
  width: 150px;
  height: 40px;
}
.twoDices {
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.header {
  margin-top: 100px;
  padding: 25px;
  text-align: center;
}

.inputDiv {
  display: flex;
  text-align: center;
  justify-content: center;
}
.input {
  margin-right: 10px;
  width: 200px;
  height: 40px;
}

.enterInput {
  margin-right: 10px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.dice1 {
  background-position-x: -55px;
  background-position-y: -55px;
}

.dice2 {
  background-position-x: -168px;
  background-position-y: -55px;
}

.dice3 {
  background-position-x: -280px;
  background-position-y: -55px;
}

.dice4 {
  background-position-x: -392px;
  background-position-y: -55px;
}
.dice5 {
  background-position-x: -505px;
  background-position-y: -55px;
}

.dice6 {
  background-position-x: -617px;
  background-position-y: -55px;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dices {
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.againButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .inputDiv {
    display: inline-block;
  }

  .enterInput {
    margin-top: 10px;
  }

  .dice {
    width: 70px;
    height: 72px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: 500px;
  }

  .dices {
    display: block;
  }

  .dice1 {
    background-position-x: -36px;
    background-position-y: -36px;
  }

  .dice2 {
    background-position-x: -106px;
    background-position-y: -36px;
  }

  .dice3 {
    background-position-x: -176px;
    background-position-y: -36px;
  }

  .dice4 {
    background-position-x: -246px;
    background-position-y: -36px;
  }
  .dice5 {
    background-position-x: -316px;
    background-position-y: -36px;
  }

  .dice6 {
    background-position-x: -386px;
    background-position-y: -36px;
  }
}

.warning {
  text-align: center;
  color: red;
  font-size: large;
}
